<div class = "container">

	<div>
		<h1>Dashboard</h1>
		<h2>Welcome, <%= @user.first_name%>!</h2>
	</div>

	<div>
		<h2>Pick a deck:</h2>
			List all available decks:
		<ul>
			<% @decks.each do |deck| %>
				<li><a href="/start_game/<%= deck.id %>"><%= deck.name %></a></li>
			<% end %>
		</ul>
	</div>

	<div>
		<h2><a href="/deck/new">Create a New Deck</a></h2>
	</div>

	<div>
		<h2><a href="/my_decks">Manage My Decks</a></h2>
	</div>

	<div>
		<h2>Stats</h2>
			<h3  align="center" style="color: purple; text-decoration: underline;"> All Users </h3>
			<div class="deck_stats">	
			<%= column_chart @deck_stats_by_deck, {library: {colors: ["purple"], hAxis: {title: "Deck Name"}, vAxis: {title: "Percent Correct Guesses"}}}%>
			</div>

			<br>

			<h3 align="center" style="color: blue; text-decoration: underline;"><%= @user.first_name%>'s</h3>
			<div id = "user-stats">
			<%= bar_chart @user_stats_by_deck, {library: {hAxis: {title: "Percent Correct Guesses"}, vAxis: {title: "Deck Name"}}} %>
			</div>


	</div>

</div>
